/* EFFET SURVOL */
.hover-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.hover-table td {
    padding: 8px 10px;
    vertical-align: top;
    transition: background 0.25s ease;
}
table td:last-child {
    text-align: right;
    color: #17abb3;
}
table td:first-child{
    text-align: left;
}
/* Survol des lignes */
table tr:hover {
    background: #e3e3e3;
    border-left: 5px solid #17abb3;
}
/* FLEX */
main {
    display: flex;
}
/* HEADER FLEX*/
.header-flex {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #17abb3;
    padding: 25px;
    color: white;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    cursor: zoom-in;
}

.profile-pic:hover {
    transform: scale(1.03);
}
/* CONTENU GAUCHE */
aside {
    width: 29%;
    background: #e3e3e3;
    padding: 30px 25px;
}

aside h3 {
    font-family: 'Lato';
    color: #17abb3;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    padding-bottom: 5px;
    font-size: 20px;
}

/* CONTENU DROITE */
.section-droite {
    width: 67%;
    padding: 40px 35px;
}

.section-droite h3 {
    font-family: 'Lato';
    color: #17abb3;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 22px;
}
/* PHOTO PROFIL */
.profile-pic {
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    cursor: zoom-in;
}

.profile-pic:hover {
    transform: scale(1.03);
}
/* TABLEAUX */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

td {
    padding: 8px 10px;
    vertical-align: top;
}
/* CONTACT HEADER CENTRÉ */
.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
}

.contact-line {
    display: flex;
    gap: 15px;
    align-items: center; 
}

.contact-header a, 
.contact-header span {
    color: #fff;
    text-decoration: none;
}

/* Icônes du header */
.contact-header img.icon {
    width: 18px;
    vertical-align: middle;
    margin-right: 6px;
    filter: invert(100%);
}/* Icône LinkedIn centré */
footer .logo {
    width: 35px;
    filter: invert(100%);
    display: block;
    margin: 0 auto 10px auto;
}