/* TABLE STYLE */
table {
    width: 100%;
    margin-bottom: 25px;
}

td {
    padding: 5px 0;
    vertical-align: top;
}
/* EFFET SURVOL */
table tr {
    transition: 0.3s;
    border-collapse: collapse;/* enlève les séparations */
    transition: background 0.25s ease;
}
table td {
    padding: 8px 10px;
}
table td:last-child {
    text-align: right;
    color: #17abb3;
}
table td:first-child{
    text-align: left;
    font-weight: bolder;
}
table tr:hover {
    background: #e3e3e3;
    border-left: 5px solid #17abb3;
}
.hover-block {
    padding: 10px;
    border-left: 4px solid transparent;
    transition: 0.3s;
}

.hover-block:hover {
    background: #e3e3e3;
    border-left: 4px solid #17abb3;
}
/* FLEX */
main {
    display: flex;
}
/* CONTENU GAUCHE */
aside {
    width: 29%;
    background: #e3e3e3;
    padding: 30px 25px;
}

aside h3 {
    font-family: 'Lato', sans-serif;
    color: #17abb3;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    padding-bottom: 5px;
    font-size: 20px;
}

/* CONTENU DROITE */
.section-droite {
    width: 67%;
    padding: 40px 35px;
}

.section-right h3 {
    font-family: 'Lato';
    color: #17abb3;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    margin: 25px 0 10px;
    font-size: 22px;
}
/* PHOTO PROFIL */
.profile-pic {
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    cursor: zoom-in;
}

.profile-pic:hover {
    transform: scale(1.03);
}